<html>    
	<head>        
		<meta http-equiv="content-type" content="text/html; charset=windows-1250">
		<title>Dokumentace: Styl vzhledu default-php</title>        
	</head>
	<body>
	<h1>Dokumentace ke stylu vzhledu 'default-php'<br />
	<small>(default-php)</small></h1>
		<p>Dokumentaci k tomuto pluginu přeložil do češtiny Vladimír Ajgl (vlada [zavinac] ajgl [tecka] cz) dne 15.10.2011. Od té doby mohl být styl vzhledu pozměněn nebo mohly být rozšířené jeho funkce. Zkontrolujte pro jistotu i <a href="IMPORTANT-TODO">anglické ToDo</a>. 
		</p>
		
		<h2>Popis stylu vzhledu</h2>
		<p>bez popis</p>
		
		<h2>Nedodělky (ToDo)</h2>
		<ul>
		ZKONVERTOVANÉ SOUBORY:
		<li>100% index.tpl</li>
		<li>100% content.tpl</li>
		<li>100% entries.tpl</li>
		<li>100% plugin_calendar.tpl</li>
		<li>100% sidebar.tpl</li>
		</ul>
		<ul>
		NEDOKONČENO:
		<li>plugin_categories.tpl</li>
		<li>preview_iframe.tpl</li>
		<li>entries_summary.tpl</li>
		<li>entries_archives.tpl</li>
		<li>comments.tpl</li>
		<li>commentpopup.tpl</li>
		<li>commentform.tpl</li>
		<li>trackbacks.tpl</li>
		<li>feed*.tpl</li>
		</ul>

	</body>
</html>
