/* CKEDITOR Toolbar tweaks */
/* hide cke-image button to support the internal functionality needed for MediaLibrary inserts, but disables the button to eyes, if not in CKE PRESET Toolbar (#65) */
/* Sadly firefox and chrome engines count differently in textareas, DOM ID 65/146 in FF/IE is 67/150 in Chrome. */
#cke_1_top .cke_toolgroup a.cke_button__image:not(#cke_65),
#cke_2_top .cke_toolgroup a.cke_button__image:not(#cke_146):not(#cke_150) {
    display: none !important;
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
/* hide next sibling separator */
#cke_1_top .cke_toolgroup a.cke_button__image:not(#cke_65)~.cke_toolbar_separator,
#cke_2_top .cke_toolgroup a.cke_button__image:not(#cke_67)~.cke_toolbar_separator {
    display: none;
    visibility: hidden;
    margin: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0 !important;
}
/* hide empty image toolgroup in toolbar BASIC (do not remove the span tag!) */
#cke_1_top span#cke_27, #cke_2_top span#cke_63, #cke_2_top span#cke_67 {
    display: none;
    visibility: hidden;
    width: 0 !important;
}
/* end CKEDITOR fixes */
