.pluginmanager_side {
    vertical-align: top;
    width: 33%;
}

.pluginmanager_container {
    background: transparent;
    border: 1px solid #ddd;
    height: 98%;
    margin: 0;
    min-height: 12.5em;
    padding: 5px;
}

.pluginmanager_container li {
    margin: 0 0 5px;
    padding: 5px;
    position: relative;
}

.pluginmanager_item_even,
.pluginmanager_item_uneven {
    background: #eee;
    border: 1px solid #ddd;
}

.pluginmanager_place,
.pluginmanager_ownership,
.pluginmanager_move { text-align: right; }

.pluginmanager_grablet {
    cursor: move;
    display: block;
}
