.pluginmanager_container {
    background: transparent;
    border: 1px solid #ddd;
    height: 98%;
    margin: 0;
    min-height: 12.5em;
    padding: 5px;
}

.pluginmanager_plugin {
    margin: 0 0 5px;
    padding: 2em 5px 5px;
    position: relative;
}

.pluginmanager_plugin:last-child { margin-bottom: 0; }

.pluginmanager_item_odd,
.pluginmanager_item_even {
    background: #eee;
    border: 1px solid #ddd;
}

.pluginmanager_place,
.pluginmanager_ownership,
.pluginmanager_move { text-align: right; }

.pluginmanager  .pluginmanager_grablet {
    cursor: move;
    display: block;
}

@media only screen and (min-width: 768px) {
    .pluginmanager_side {
        vertical-align: top;
        width: 33%;
    }
}