/**********************************************************************/
/* Template: bulletproof for Serendipity (http://www.s9y.org)         */
/* Authors: Matthias Mees, David Cummins and Don Chambers             */
/*                                                                    */
/* Additional IE 7 stylesheet                                         */
/*                                                                    */
/* http://s9y-bulletproof.com                                         */
/**********************************************************************/
