parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '/always false/'
        - '/always true/'
        - '/Predis\\Client/'
        - '/Symfony\\Component\\VarExporter/'
        - '/Memcache(d)*/'
        - '/MEMCACHE_COMPRESSED/'
        - '/Function checkForDev not found\./'
        - '/Function msgpack/'
        - '/function unserialize expects array/'
