/**********************************************************************/
/* Template: bulletproof for Serendipity (http://www.s9y.org)         */
/* Authors: Matthias Mees, David Cummins and Don Chambers             */
/*                                                                    */
/* Base stylesheet                                                    */
/*                                                                    */
/* http://s9y-bulletproof.com                                         */
/**********************************************************************/


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* WARNING: Don't edit this stylesheet unless you know what you're    */
/*          doing! These styles are crucial to the layout, they're    */
/*          actually the reason this template is called 'bulletproof' */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body, html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#wrapper {
    overflow: hidden;
    width: 95%;
    margin: 1em auto;
    text-align: left;
}

#sitenav {
    float: left;
    width: 100%;
}

#sitenav ul {
    list-style-type: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

#sitenav ul li {
    display: inline;
}

#sitenav #searchform {
    float: right;
    display: inline;
}

#sbsitenav ul {
    list-style-type: none;
}

.pagearrow { font-family: Arial, sans-serif!important;} /* greatest cross browser support for left and right facing arrows */

#serendipityLeftSideBar,
#content {
    float: left;
}

#serendipityLeftSideBar,
#serendipityRightSideBar,
#content {
    display: inline;
}

#serendipityRightSideBar {
     float: right;
     clear: right;
}

#serendipityRightSideBar.layout3ssb_right {
    float: left;
    clear: none;
}

/* 3-column widths */
.threemain {
    width: 60%;
}
.threeside {
    width: 20%;
}

/* 2-column widths */
.twomain {
    width: 75%;
}
.twoside {
    width: 25%;
}

/* 1-column widths */
.onemain {
    width: 100%;
}

.onefull {
    width: 100%;
}

.layout2sb_content {
    clear: right !important;
}

.onefull .serendipitySideBarItem {
    float: left;
    margin: 0px 1px 10px 11px!important;
    padding: 0!important;
    width: 18.5%;
    display:inline;
}

#footer {
    float: left;
    position: relative;
    clear: both;
    margin: 0;
    padding: 0!important;
    width: 100%;
    height: 100%;
}

/*** Accessibility styles ***/
#skiplinks {
    display: inline;
    height: 1px;
    overflow: hidden;
    width: 1px;
    /* Absolute positioning */
    position: absolute;
    top: -1000px;
    left: -1000px;
}

#skiplinks ul {
    list-style-type: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

#skiplinks ul li {
    display: inline;
    padding: 0 10px;
}

/* without this, the navbar wipes out part of the banner */
/* if the navbar is located above the banner             */
#serendipity_banner {
    clear: both;
}

/* Fahrner Image Replacement for the header */
.invisible {
    margin-left: -5000px;
}
.visible { /* just a placeholder - don't use this class */
           /* unless you know what you're doing         */ }

/* this is needed to clear floats from floated images */
.belowentry,
.infofooter {
    clear: both;
}

/*** Some s9y-specific stuff ***/
/* centering something     */
.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* messages from s9y */
.serendipity_msg_important {
    color: red;
    margin-bottom: 1em;
}
.serendipity_msg_notice {
    color: green;
    margin-bottom: 1em;
}

.serendipity_entry_extended {
    clear: both;
}

/* prevent styling of the extended placeholder, */
/* otherwise the background image is visible    */
#extended {
    background: none;
    display: none;
}

/* styling the continue reading byline, needed   */
/* to stop firefox making the link 100% wide     */
.continue_reading {
    display: block;
    padding-top: 10px;
}

/* styling the bulletproof button link in footer */
#serendipity_bulletproof_button img {
    border: none;
}

.serendipity_Entry_Date,
.serendipity_commentBody {
    overflow: hidden;
}

.serendipitySideBarContent input,
.serendipitySideBarContent select {
    width: 95%;
}

.archives_header { clear: left; }

ul.archives_row {
    clear: left;
    float: left;
    list-style-type: none;
    width: 100%;
}

ul.archives_row li.archives_graph,
ul.archives_row li.archives_date,
ul.archives_row li.archives_count,
ul.archives_row li.archives_count_link,
ul.archives_row li.archives_link {
    float: left;
    width: 19.9%;
}

.archive_summary dd { margin-left: 0; }

ul.staticpage_navigation {
    list-style-type: none;
    display: inline;
}

ul.staticpage_navigation li {
    display: inline;
}

#theme_chooser select{
    width: 90%;
}

/* microformats */
.author {
    display: inline;
    font-style: normal;
}

.published {
    border-bottom: none;
    cursor: auto;
}

/*** Additional plugin styles needed for the modernized output code ***/
/*** these will eventuelly kick in starting with s9y v1.4           ***/
.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.container_serendipity_authors_plugin .serendipitySideBarContent div {
    margin: 5px 0;
    padding-left: 0;
}

.serendipity_history_author { font-weight: bolder; }

.serendipity_history_intro,
.serendipity_history_info { margin-bottom: 3px; }

.serendipity_history_body { margin-bottom: 10px; }

.serendipity_recententries_entrylink { margin-bottom: 2px; }

.serendipity_recententries_entrydate { margin: 0 0 4px 0; }

.plugin_comment_body { padding: 3px 0; }

.serendipity_shoutbox_date { margin: 5px 0 2px 0; }

.serendipity_shoutbox_comment { padding: 3px 0; }
