/**********************************************************************/
/* Template: bulletproof for Serendipity (http://www.s9y.org)         */
/* Authors: Matthias Mees, David Cummins and Don Chambers             */
/*                                                                    */
/* Stylesheet for the colorset 'blue'                                 */
/*                                                                    */
/* http://s9y-bulletproof.com                                         */
/**********************************************************************/


.serendipity_xml_icon {
    background: url('img/blue_xml.png') center center no-repeat;
    padding: 10px 0;
    margin: 0;
    visibility: visible;
}

 .serendipity_xml_icon img {
    visibility: hidden;
}

a {
    color: #1F5F7F;
    text-decoration: none;
}

a:hover {
    color: #505050;
}

body {
    background-color: #fff;
}

#wrapper {
    width: 85%;
    font-family:  verdana, arial, helvetica, sans-serif;
    font-size: 69%;
    background-color: #fff;
    border-left: 8px solid #dfdfdf;
    border-right: 8px solid #dfdfdf;
    margin: 0px auto;
}

#serendipity_banner {
    margin: 0;
    height: 140px;
    background: #3D98C5 url('img/blue_header.jpg') repeat-x center left ;
    border: 0px;
}

#serendipity_banner h1 {
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 180%;
    padding: 0.25em;
}

#serendipity_banner h2 {
    font-weight: normal;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 130%;
    padding: 0.25em;
}

#serendipity_banner a { 
    color: #ffffff;
    text-decoration: none; 
}

#serendipity_below_banner {
    /* not used in this template */
}

#sitenav {
    background-color: #efefef;
    border-top: 2px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    margin: 0;
    padding: 0;
}

#sitenav ul li {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0;
    padding: 0; 
    display: inline;
}

#sitenav ul a{
    border-bottom: 4px solid #efefef;
    margin: 0 2px 0 0;
    padding: 6px 10px 6px 10px;
    float: left;
    overflow: hidden;
}

#sitenav ul a:hover,
#sitenav .currentpage a {
    border-bottom: 4px solid #3D98C5;
    padding: 6px 10px 6px 10px;
    background-color: #efefef;
}

#serendipityLeftSideBar,
#serendipityRightSideBar {
    background-color: #ffffff;
    color: #505050;
    overflow: hidden; 
}

#content {
    background-color: #ffffff;
    color: #505050;
}

#content h3 {
    font-size: 100%;
    margin: 10px 0 0 0;
}

.serendipity_commentsTitle {
    font-size: 100%;
    font-weight: bold;
}

#content h4 {
    text-transform: uppercase;
    font-size: 120%;
    letter-spacing: .2em;
    margin: 5px 0 15px 0;
}

.serendipity_entryFooter {
    font-size: 90%;
    margin: 5px 0;
    padding: 8px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.serendipity_pageFooter {
    margin: 5px 0 10px;
}

/* pagination links */
div.pagination{
    margin-top: 1em;
}

.pagination a:link,
.pagination a:visited{
    border: 1px solid #CFCFCF;
    padding: 2px 6px;
}

span#thispage {
    background-color: #3D98C5;
    border: 1px solid #3D98C5;
    color: #ffffff;
    padding: 2px 6px;
}

.pagination a:hover,
.pagination a:active {
    background-color: #EDF8FD;
    border: 1px solid #3D98C5;
}

.serendipitySideBarItem {
    margin: 10px;
    padding: 0;
    border: 0px none;
    overflow: hidden;
    height: 100%; 
}

.serendipitySideBarTitle {
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: .2em;
    color: #505050;
    padding: 8px 5px 8px 5px;
    border-left: 4px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #efefef;
    margin: 0;
}

.serendipitySideBarContent {
    font-size: 90%;
    padding: 10px;
    border-left: 4px solid #dfdfdf;
    background-color: #efefef;
    margin: 0;
}

.serendipitySideBarFooter {
    /* not used in this template */
}

#sbsitenav .serendipitySideBarContent {
    padding: 0;
    border: 0;
    margin: 0;
}

#sbsitenav {
    padding: 10px;
    margin: 0;
}

#sbsitenav ul{
    margin: 0;
    list-style-type: none;
}

#sbsitenav ul a {
    border-left: 4px solid #dfdfdf;
    padding: 8px 0px 8px 10px;
    display: block;
}

#sbsitenav ul a:hover,
#sbsitenav .currentpage a {
    border-left: 4px solid #3D98C5;
}

#sbsitenav li {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #efefef;
    margin: 0 0 2px 0;
    padding: 0;
    overflow: hidden;
}

#month,
.serendipity_weekDayName, 
#today  {
    font-size: 100%;
}

#footer {
    font-size: 80%;
    background-color: #dfdfdf;
}

img.serendipity_entryIcon {
    float: left;
    border: 0px;
    margin:0 5px 0px 0;
}

input#serendipityQuickSearchTermField {
    border: 1px solid #1F5F7F!important;
}

#sitenav #searchform input {
    border: 1px solid #1f5f7f;
}

blockquote {
    background: #d6e2e8;
    color: #505050;
    border-left: 1px solid #85a8b9;
    border-top: 1px solid #85a8b9;
    border-right: 1px solid #1f5f7f;
    border-bottom: 1px solid #1f5f7f;
    margin: 1em 4em;
    padding: 1em;
}

blockquote p {
   margin: 0.5em 0;
   padding: 0;
}

.serendipity_comment_author_self comment_evenbox,
.comment_evenbox {
    line-height: 1.2em;   
    border: 1px dotted #3D98C5;
    background: #efefef;
}

.serendipity_comment_author_self comment_oddbox,
.comment_oddbox {
    line-height: 1.2em;
    border: 1px dotted #3D98C5 ;
    background: #dfdfdf;
}

.serendipity_commentsTitle {
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: .2em;
    margin: 1em 0;
    padding: 0.5em 0;
}

.s9y_wrap {
    font-size: 69%;
    background: #fff;
}

/* edit link for all sidebar items */
.serendipity_edit_nugget {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.serendipity_edit_nugget a {
    background: transparent url('img/configure.png') bottom left no-repeat;
    padding: 4px 0 0 20px;
}