/**********************************************************************/
/* Template: bulletproof for Serendipity (http://www.s9y.org)         */
/* Authors: Matthias Mees, David Cummins and Don Chambers             */
/*                                                                    */
/* Additional IE 5 stylesheet                                         */
/*                                                                    */
/* http://s9y-bulletproof.com                                         */
/**********************************************************************/

.author { margin-right: 0.4em!important; }

.layout1col_content {
    float: none!important;
}

.layout1col_right_full {
    clear: both!important;
    float: none!important;
}

/* stop the footer from extending the page's height */
#footer {
    height: auto!important;
}

/* same for sidebar items, apparently               */
.serendipitySideBarItem {
    height: auto!important;
}

/* stop search box from extending its container     */
.serendipitySideBarContent input,
.serendipitySideBarContent select {
    width: 70%;
}

/* fix horizontal navbar display                    */
#sitenav ul li {
    float: left;
    width: 10em;
}
