/**********************************************************************/
/* Template: bulletproof for Serendipity (http://www.s9y.org)         */
/* Authors: Matthias Mees, David Cummins and Don Chambers             */
/*                                                                    */
/* Additional IE 6 stylesheet                                         */
/*                                                                    */
/* http://s9y-bulletproof.com                                         */
/**********************************************************************/

.author { margin-right: 0.4em!important; }

.layout1col_content {
    float: none!important;
}

.layout1col_right_full {
    clear: both!important;
    float: none!important;
}

#footer {
    float: none!important;
}
