.pluginmanager_side {
    vertical-align: top;
    width: 33%;
}

.pluginmanager_container {
    margin: 0px;
    padding: 2px;
    list-style-type: none;
    background-color: #fdfdff;
    height: 98%;
}

.pluginmanager_container li {
   margin: 0px 0px 15px 0px;
   padding: 3px;
   position: relative;
}

.pluginmanager_side .heading {
   margin: 0px 0px 15px 0px;
   padding: 3px;
   font-weight: bold;
   font-size: 12pt;
   padding: 20px;
   text-align: center;
   border-bottom: 1px dotted #FAFAFA;
}

.pluginmanager_item_even,  .pluginmanager_item_uneven {
    background-color: #FAFAFA;
    border: 1px solid #DADADA;
}

.pluginmanager_place,
.pluginmanager_ownership {
    text-align: right;
    margin: 2px;
}

.pluginmanager_grablet {
    display: block;
    height: 10px;
    width: 10%;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    background-image: url(img/grablet.gif);
    background-repeat: repeat-x;
    cursor:move;
}

.grablet:hover {
    background-image: url(img/grablet_over.gif);
}