/*
Theme: Timeline                                                             
Theme developed for Serendipity by Don Chambers (www.optional-necessity.com)
grey colorset                                                          
*/

/* 
* Grey Color: #8ba4a5;   
* Grey Hover Color: #768b8c;
* Darkest color: #61797a;
*/

a {
  color: #8ba4a5;
}

a:hover,
a:focus {
  color: #768b8c;
}

a.subtome:link,
a.subtome:visited { 
    background: url('img/subtome-grey.png') left bottom no-repeat;
}

a.subtome:hover,
a.subtome:focus { 
    background: url('img/subtome-grey.png') -64px center no-repeat;
}

a.subtome img {
    visibility: hidden;
}

.navbar-default .navbar-brand:hover h1,
.navbar-default .navbar-brand:focus h1{
    color: #768b8c;
}

.header .navbar-default .navbar-toggle {
    border-color: #768b8c;
}

.header .navbar-toggle, .header .navbar-default .navbar-toggle:hover, .header .navbar-default .navbar-toggle:focus {
    background-color: #8ba4a5;
}

@media (max-width: 991px) {
    .header .navbar-default .navbar-nav > li > a:hover {
        color: #8ba4a5;
    }
    .header .navbar-default .navbar-nav > .active > a, .header .navbar-default .navbar-nav > .active > a:hover, .header .navbar-default .navbar-nav > .active > a:focus {
        background-color: #8ba4a5;
    }
}

@media (min-width: 992px) {
    .header .navbar-default .navbar-nav a.navbar_current_page,
    .header .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 2px solid #8ba4a5;
    }

    .header .navbar-default .navbar-nav > li:hover > a {
        color: #8ba4a5;
    }
}

.btn-theme {
    background: none repeat scroll 0 0 #8ba4a5;
    border: 1px solid #8ba4a5;
}

.btn-theme:hover {color: #8ba4a5;}

.pager li > a,
.pager li > span {
    background-color: #8ba4a5;
    border: 1px solid #8ba4a5;
}

.pager li > a:hover,
.pager li > a:focus {
    color: #768b8c;
}

.sidebar_plugin h3{
    border-bottom: 2px solid #8ba4a5;
}

.btn-group.archive-button .dropdown-menu > li > a {color: #768b8c;}

.btn-group.archive-button .dropdown-menu > li > a:hover,
.btn-group.archive-button .dropdown-menu > li > a:focus {
    background-color: #768b8c;
}

.archive-button-months-entries {border: 1px solid #8ba4a5;}

.archive-button-months-entries .badge {
    background-color: #61797a; /* much darker */
}

blockquote {
    border-left: 5px solid #768b8c;
}

.timeline_freeTag a {
    background-color: #8ba4a5;
    border: 1px solid #8ba4a5;
}

.timeline_freeTag a:hover,
.timeline_freeTag a:focus {
    color: #768b8c;
}

#scrollUp {
    background-color: #8ba4a5;
    border: 1px solid #8ba4a5;
}
#scrollUp:hover {
    color: #768b8c;
}