/* HTML Elements */

body {
  color: #999;
  background: white;
  font-family: verdana, arial, sans-serif;
}

.droid, .droid button,
.droid input, .droid select,
.droid textarea { font-family: 'Droid Sans', sans-serif; }

.ptsans, .ptsans button,
.ptsans input, .ptsans select,
.ptsans textarea { font-family: 'PT Sans', sans-serif; }

.osans, .osans button,
.osans input, .osans select,
.osans textarea { font-family: 'Open Sans', sans-serif; }

.cabin, .cabin button,
.cabin input, .cabin select,
.cabin textarea { font-family: 'Cabin', sans-serif; }

.ubuntu, .ubuntu button,
.ubuntu input, .ubuntu select,
.ubuntu textarea { font-family: 'Ubuntu', sans-serif; }

.dserif, .dserif button,
.dserif input, .dserif select,
.dserif textarea { font-family: 'Droid Serif', serif; }

p {
    hyphens: auto;
}

.block_level,
fieldset,
.no-js #primary-nav ul,
.form_field label,
.form_tarea label,
.podcastdownload,
#primary-nav select,
.serendipity_comment_captcha .captcha,
.serendipity_comment_captcha label,
.serendipity_freeTag { display: block; }

a,
a:link,
a:visited {
  color: #336666;
  text-decoration: none;
}

a:active,
a:hover {
  color: #669999;
  text-decoration: none;
}

img {
  border: 0;
}

h3, h4 {
  margin: 0;
  padding: 0;
}


input:focus,    input:hover,
button:focus,   button:hover,
submit:focus,   submit:hover,
select:focus,   select:hover,
textarea:focus, textarea:hover {
  background-color: #eee;
}

input.radio,
input[type="radio"],
input[type="checkbox"] {
  border: none;
}

blockquote {
  border: 1px #999 dashed;
  background-image: url({TEMPLATE_PATH}img/quote.gif);
  background-repeat: no-repeat;
  background-position: 0.5em 0.5em;
  padding: 1em;
  margin: 1em;
  margin-right: 0;
}

ul {
  list-style-image: url({TEMPLATE_PATH}img/bullet.gif);
  list-style-type: circle;
  padding-left: 1em;
}

::-moz-selection {
  background: #eee;
}

::selection {
  background: #eee;
}

/* Banner */

#identity {
  width: 62%;
  float: left;
}

#searchform {
  width: 38%;
  float: left;
  height: 150px;
  padding-top: 4rem;
}

#searchform input {
  max-width: 20rem;
}

.js #searchsend { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.no-js #searchsend { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }


#banner {
  background-image: url({TEMPLATE_PATH}img/I_had_an_idea.jpg);
  background-repeat: no-repeat;
  height: 150px;
  max-width: 80rem;
  margin: auto;
  border-bottom: 1px #999 dashed;
}

#banner h1 {
  margin-left: 140px;
  font-variant: small-caps;
  padding-top: 2rem;
}

#banner p {
  margin-left: 140px;
}

#banner a,
#banner a:hover,
#banner a:link,
#banner a:visited {
  color: #999;
  text-decoration: none;
}

#banner a,
#banner a:hover,
#banner a:link,
#banner a:visited {
  color: #999;
  text-decoration: none;
}

#searchform {
  float: right;
  position: relative;
}

/* Calendar */

table.serendipity_calendar a,
table.serendipity_calendar a:link,
table.serendipity_calendar a:visited {
  font-weight: bold;
  font-style: italic;
}

table.serendipity_calendar a:hover {
  background: #ccc;
  color: #003366;
}

table.serendipity_calendar td {
  font-size: x-small;
  padding: 0.2em;
  text-align: center;
}

td.serendipity_calendarHeader a,
td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
  color: #003366;
  font-weight: bold;
  border: 0;
  background: white;
}

/* Sidebars */

#sidebar_left,
#sidebar_right {
  display: block;
  padding: 10px;
  width: 11em;
  vertical-align: top;
}

.sidebar_plugin h3 {
  color: #666;
  font-weight: bolder;
  line-height: 140%;
  padding: 0.2em;
  padding-left: 1em;
  padding-bottom: 0;
}

#sidebar_right .sidebar_plugin h3 {
  border-left: 1px #666 dashed;
}

#sidebar_left .sidebar_plugin h3 {
  border-right: 1px #666 dashed;
}

.sidebar_content {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.sidebar_content {
  color: #333;
  border-top: 1px #666 dashed;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#sidebar_right .sidebar_content {
  border-right: 1px #666 dashed;
}

#sidebar_left .sidebar_content {
  border-left: 1px #666 dashed;
}

/* Entries */

div.serendipity_Entry_Date {
  padding-left: 1em;
}

.serendipity_byline {
  color: #999;
  text-transform: lowercase;
  margin-bottom: 0.7em;
  border-bottom: 1px #999 dashed;
  text-align: right;

  background-image: url({TEMPLATE_PATH}img/clock_face_messy_paint_runs.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 21px;
  padding-right: 60px;
  vertical-align: bottom;
}

.serendipity_entry h2 {
  padding-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  
}

.serendipity_entry h2 a,
.serendipity_entry h2 a:hover,
.serendipity_entry h2 a:link,
.serendipity_entry h2 a:visited {
  color: #999;
  text-decoration: none;
}

.serendipity_entry {
  font-weight: normal;
  line-height: 140%;
  padding-left: 1em;
}

.serendipity_entry_body {
  color: #1A1A1A;
}

.serendipity_entry footer {
  padding-top: 1em;
  margin-bottom: 1em;
  clear: both;
}

/* Comments */

.serendipity_comment {
  border-left: double #999 thick;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1em;
  padding: 3px;
  padding-bottom: 0;
  overflow: auto;
}

.serendipity_commentBody {
  padding-bottom: 1em;
}

.serendipity_comment h4 {
  font-weight: bold;
  text-transform: uppercase;
}

#serendipityQuickSearchTermField,
#serendipity_comment input[type=text],
#serendipity_comment input[type=email],
#serendipity_comment input[type=url] { width: 95%; }

#serendipity_replyTo,
#serendipity_comment textarea { width: 95%; }

.commentlevel-1 { margin-left: 1em; }
.commentlevel-2 { margin-left: 2em; }
.commentlevel-3 { margin-left: 3em; }
.commentlevel-4 { margin-left: 4em; }
.commentlevel-5 { margin-left: 5em; }
.commentlevel-6 { margin-left: 6em; }
.commentlevel-7 { margin-left: 7em; }
.commentlevel-8 { margin-left: 8em; }
.commentlevel-9 { margin-left: 9em; }

/* Misc */

#content {
  flex: 3 1 60%;
  order: 2;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

#page > div {
  display: flex;
  flex-flow: row;
  max-width: 80rem;
  margin: auto;
  clear: both;
}

#sidebar_left {
  flex: 1 6 20%;
  order: 1;
}

#sidebar_right {
  flex: 1 6 20%;
  order: 3;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    text-align: center;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
    padding: 0.3em;
}

.serendipity_admin_list_item_even {
}

.serendipity_admin_list_item_uneven {
    background-color: #eee;
}

.serendipity_admin_filters {
    border: 1px dashed;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    text-align: center;
}

.serendipity_comments {
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
}

.serendipity_msg_notice {
    color: green;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
  border-left: double #669999 thick;
  color: #669999;
}

/* pagination */


.serendipity_pagination ul {
  list-style-image: none;
  list-style-type: none;
  display: flex;
}

.prev {
  order: 1;
}

.info {
  order: 2;
  margin-left: 1rem;
  margin-right: 1rem;
}

.next {
  order: 3;
}

/*** Additional plugin styles needed for the modernized output code ***/
/*** added by Matthias 'YellowLed' Mees                             ***/

.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.container_serendipity_authors_plugin .serendipitySideBarContent div {
    margin: 5px 0;
    padding-left: 0;
}

.serendipity_history_author { font-weight: bolder; }

.serendipity_history_intro,
.serendipity_history_info { margin-bottom: 3px; }

.serendipity_history_body { margin-bottom: 10px; }

.serendipity_recententries_entrylink { margin-bottom: 2px; }

.serendipity_recententries_entrydate { margin: 0 0 4px 0; }

.plugin_comment_body { padding: 3px 0; }

.serendipity_shoutbox_date { margin: 5px 0 2px 0; }

.serendipity_shoutbox_comment { padding: 3px 0; }

/*** End Additional plugin styles                                   ***/

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.serendipity_edit_nugget, .serendipity_byline, .serendipity_entry footer {
  font-size: 0.9em;
}

#colophon {
  text-align: center;
}
